body {
font-family: 'Inter', sans-serif;
}
.bg-warning-light {
background-color: #fff3cd;
}
#header-logo img {
width: 32px;
height: 32px;
}
#footer-logo img {
width: 28px;
height: 28px;
}

footer {
background-image: url("https://static.vecteezy.com/system/resources/previews/055/849/344/non_2x/bright-yellow-lemon-with-one-half-cut-showing-juicy-interior-isolated-fresh-citrus-fruits-png.png");
background-size: relative;
background-position: center;
overflow: hidden
}
